{% extends 'base.html' %}

{% block content %}
    <!-- body -->
    <div class="container-fluid mt-3">
        <div class="row mx-auto">
            {% for product in products %}
            <div class="card mx-auto mb-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><b>{{ product.price }}</b></p>
                    <a href="#" class="btn btn-light border btn-sm">Добавить в корзину</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}