{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border mt-4 mb-4 rounded">Авторизуйтесь тут</h3>
            <form action="/login" method="POST">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">Электронная почта</label>
                    <input value="{{ values.email }}" required type="email" name="email" id="" class="form-control form-control-sm"
                        placeholder="example@email.ru" aria-describedby="helpId">
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="">Пароль для входа</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm"
                        placeholder="*******" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Вход">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}